/* Start Variables */
:root {
     --blue-color: #0075ff;
     --blue-alt-color: #0d69d5;
     --orange-color: #f59e0b;
     --green-color: #22c55e;
     --red-color: #f44336;
     --grey-color: #888;
}

/* End Variables */

/* Start Box */
.d-flex {
     display: flex;
}

.align-c {
     align-items: center;
}

.d-grid {
     display: grid;
}

.rad-6 {
     border-radius: 6px;
}

.rad-10 {
     border-radius: 10px;
}

.br-ccc {
     border: 1px solid #CCC;
}

.w-full {
     width: 100%;
}

.ov-h {
     overflow: hidden;
}

.box-shad {
     box-shadow: 0 0 10px #ddd;
}

/* End Box */
/* Start Padding + Margin */
.p-10 {
     padding: 10px;
}

.p-20 {
     padding: 20px;
}

.p-15 {
     padding: 15px;
}

.mt-0 {
     margin-top: 0;
}

/* End Padding + Margin */
/* Start Font */
.fs-14 {
     font-size: 14px;
}

.txt-c {
     text-align: center;
}

/* End Font */
/* Start Color */
.bg-white {
     background-color: white;
}

.c-black {
     color: black;
}

.bg-fbfbfb {
     background-color: #FBFBFB;
}

/* End Color */
/* Start Position */
.p-rel {
     position: relative;
}

.p-abs {
     position: absolute;
}

/* End Position */
/* Start Transition & Transform */
.mn-trans {
     transition: 0.3s;
}

/* End Transition & Transform */
/* Start Mobile  */
@media (max-width: 767px) {
     .mob-hide {
          display: none;
     }
}

/* End Mobile  */

/* Start Components */
.between-flex {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.around-flex {
     display: flex;
     justify-content: space-around;
     align-items: center;
}

/* End Components */